@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
<<<<<<< HEAD
  background: linear-gradient( white);
=======
  background: white;
>>>>>>> 2c3931fbb92071a35f61e9fb637c112acf491c88
  background-repeat: no-repeat;
  min-height: max-content;
}
