.customMenu li{
    cursor: pointer;
}
.customMenu  li:hover{
    color: #4791ff;
}
.mystyle {
    font-size: 30px;
    font-weight: bold;
}
.animate{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down{
    0%{
        transform:translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }

}
@keyframes up-down{
    0%{
        transform:translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }

}